git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/accelerate
git+https://github.com/huggingface/peft
deepspeed
datasets
sentencepiece
sacrebleu
evaluate
huggingface_hub
nltk
rouge_score
accelerate
protobuf
rouge-score
py7zr
evaluate
wandb
evaluate[evaluator]
